.ui-draggable {
  cursor: move;
}

#radar {
  position: fixed;
  right: 0px;
  top: 0px;
  margin-top: 40px;
}

#starmapradar {
  position: fixed;
  right: 400px;
  top: 0px;
  margin-top: 40px;
}

.radarlike {
  width: 400px;
  height: 400px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #000;
}

#navbar-inner-shadower {
  box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.25),
    inset 0 1px 0 rgba(0, 0, 0, 0.1);
}

#updateBar {
  border-radius: 0px 9px 9px 0px;
  height: 24px;
  background: #111;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  right: 8px;
  position: absolute;
  display: inline-block;
  left: 320px;
}

.game-ui-widget {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 9px;
  color: #eee;
  text-shadow: 0px 0px 3px #000;
  border: 1px solid #111;
  padding: 10px;
}

.game-ui-widget-dark {
  background-color: rgba(0, 0, 0, 0.2);
}

#updateBubble {
  position: fixed;
  bottom: 50px;
  left: 50px;
  width: 300px;
  height: 50px;
}

#planetDetails {
  position: fixed;
  top: 150px;
  left: 50px;
  width: 300px;
  height: 300px;
}

#starDetails {
  position: fixed;
  top: 53px;
  left: 2px;
  width: auto;
  height: auto;
  padding: 4px;
  border-radius: 3px;
}

#widgets .game-ui-widget {
  position: relative;
  width: 100%;
  height: 100px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 5px;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0px 0px 3px #000;
  color: #fff;
  border-radius: 3px;
  pointer-events: none;
}

.noty_bar {
  /* todo: fix this in noty itself; it should have correct themes loaded... */
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
}
