.notification {
  stroke-width: 2px;
  stroke: #000;
  fill: #666;
}

.notification:hover {
  stroke: #fff;
}

.notification.notification-shipdestroyed {
  fill: orangered;
}

.notification.notification-error {
  fill: red;
  stroke: yellow;
}
